# python venv
.venv

# cached binaries
__pycache__

# user config
src/.env

# application managed
src/id_dictionary.json
src/key_list.json
src/lb_dict_example.json
src/lb_dict_old.json
src/lb_dict_new.json
src/400_test_image.png
